---
description: CS-STEM Network Changelog
title: CS-STEM Network Changelog
language: en
version: 1.0.0
---

- changelog = "https://github.com/cmroboticsacademy/keep-a-changelog/blob/master/CHANGELOG.md"
- gemnasium = "https://gemnasium.com/"
- gh = "https://github.com/cmroboticsacademy/keep-a-changelog"
- issues = "https://github.com/cmroboticsacademy/keep-a-changelog/issues"
- semver = "https://semver.org/"
- shields = "https://shields.io/"
- thechangelog = "http://5by5.tv/changelog/127"
- vandamme = "https://github.com/tech-angels/vandamme/"
- iso = "http://www.iso.org/iso/home/standards/iso8601.htm"
- ghr = "https://help.github.com/articles/creating-releases/"
- gnustyle = "https://www.gnu.org/prep/standards/html_node/Style-of-Change-Logs.html#Style-of-Change-Logs"
- gnunews = "https://www.gnu.org/prep/standards/html_node/NEWS-File.html#NEWS-File"

.header
  .title
    %h1 CS-STEM Network Changelog

  = link_to changelog do
    Version
    %strong= current_page.metadata[:page][:version]

  %pre.changelog= File.read("CHANGELOG.md")

.changelog
  %h3#what
    %a.anchor{ href: "#what", aria_hidden: "true" }
    What is a changelog?

  %p
    A changelog is a file which contains a curated, chronologically
    ordered list of notable changes for each version of a project.

  %h3#added
    %a.anchor{ href: "#added", aria_hidden: "true" }
    Added
  %ul
    %li Generate Accounts - Student Roster Screen. This page displays pending student accounts with data validation errors that need to be fixed before student accounts can successfully be imported.
    %li Generate Accounts - Student roster data for existing accounts is now overwritten. This opens up the possibility for teachers to update passwords, usernames, and any other data that is available for edit on the student roster sheet.


  %h3#removed
    %a.anchor{ href: "#removed", aria_hidden: "true" }
    Removed

  %ul
    %li Generate Accounts - Randomly generated accounts and passwords.
    %li Generate Accounts - Suppport for xls files.

  %h3#changed
    %a.anchor{ href: "#changed", aria_hidden: "true" }
    Changed
  %ul
    %li Certificate Tracks - Exam lock feature. Exam is unlocked by default when a certificate has no associated badges.
